{% extends "layout.html" %} {% block body %}

<section id="home">
    <div class="container-fluid px-0 top-banner" style="background: url('static/grocery.jpg') no-repeat center; width:100%; background-size:cover;padding:23% 0 9.375rem; min-height:800px;">
        <div class="row" id="scrolling">
            <marquee behavior="scroll" direction="left">
                <h3><a href="/items" style="color:#275657">We also serve Fresh Gausala Rasgullas <i class="fa-solid fa-bowl-food"></i></a></h3>
            </marquee>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <h1 style="color:#a82c48">Piyush Mini Mart</h1>
                    <p style="color:rgb(0, 0, 0); font-size:22px;">{{params['tagline-text']}}
                    </p>
                    <div class="mt-4">
                        <a href="/items"><button class="main-btn">Order Now <i class="fas fa-shopping-basket ps-3"></i></button></a>
                        <a href="https://goo.gl/maps/6sKLLRZS7vHQ59fp8"><button class="white-btn ms-lg-4 mt-lg-0 mt-4" style = "color:rgb(11, 42, 59)">Locate us <i class="fa-solid fa-location-dot" style = "color:rgb(10, 154, 238); padding-left: 1rem" !important></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}